html,
body {
    font-family: 'OpenSans-CondBold-webfont';
    background-color: White;
    height: 100%;
}

@font-face {
    font-family: 'OpenSans-CondBold-webfont';
    src: url('font/OpenSans-CondBold-webfont.eot');   /* IE9  */
    src: url('font/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),  /* IE6 safare chome firfox */
        url('font/OpenSans-CondBold-webfont.woff2') format('woff2'),   /* IE6 safare chome firfox */
        url('font/OpenSans-CondBold-webfont.woff') format('woff'),   /* IE6 safare chome firfox */
        url('font/OpenSans-CondBold-webfont.ttf') format('truetype');     /* IE6 safare chome firfox */
    font-weight: bold;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: auto -60px;
    padding: 10px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;

    margin: 0 0 15px 0;
}

.navbar-custom {
    font-family: 'OpenSans-CondBold-webfont';
    text-shadow: 0.1em 0.1em 0.1em Lavender;
    font-size: 14px;
    background-color: DodgerBlue;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    font-family: 'OpenSans-CondBold-webfont';
    text-shadow: 0.1em 0.1em 0.2em Lavender;
    font-size: 30px;
    color:#eeeeee;
}

.row p {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
}

.grid {
    font-family: 'OpenSans-CondBold-webfont';
    color: SeaGreen;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
}

#chart1 {
    font-family: 'OpenSans-CondBold-webfont';
    color: SeaGreen;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
}
